body {
    background-color: #EDEDED;
}

* {
    box-sizing: border-box;
}

#sizeValue {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #444;
}

#container {
    width: 600px;
    height: 600px;
    display: grid;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.header {
    padding: 0px 20px;
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
    font-size: 80px;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 70px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: visible;
    border-radius: 8px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    overflow: visible;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: 1px solid #444;
    width: 100%;
    border-radius: 4px;
    overflow: visible;
    font-size: 18px;
    color: #444;
}

input[type='range'] {
  appearance: none;
  background-color: #EDEDED;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid #444;
  border-radius: 25px;
  background: var(--secondary-light);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: #444;
}
button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
  overflow: visible;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  appearance: none;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: none;
  background-color: transparent;
  overflow: visible;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  overflow: visible;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
  overflow: visible;
}